<a href="https://colab.research.google.com/github/arastunkr41/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print()

What is your name? Hulisi
What is your age? 43
Your name is Hulisi. Your age is 43

In [1]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
  print("These two numbers are equal")
if a!=b:
  print("These two numbers are not equal")

These two numbers are not equal

In [11]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a>b:
  print("A is greater than B")
if a<=b:
  print("A is equal or less than B")

A is equal or less than B

In [10]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [4]:
#Q5-Using while loop, print 5,4,3,2,1
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [23]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for a in range(10,-1,-2):
  if a !=8:
    print(a)

10
6
4
2
0

In [34]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(n):
  return 2022-n
print(age(1944))

78

In [1]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    print(x+y)
  def multiplication(x,y):
    print(x*y)
  def substraction(x,y):
    print(x-y)
  def division(x,y):
    print(x/y)
arithmetic.addition(3,4)
arithmetic.multiplication(5,8)
arithmetic.substraction(15,10)
arithmetic.division(20,4)

7
40
5
5.0

In [38]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n=input("Enter Your Number=")
a=int(n)
sum=0
for i in range(1,a+1,1):
  sum=sum+i
print("Summation of first",n,"number is: ",sum)

Enter Your Number=5
Summation of first 5 number is:  15

In [58]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import random
a=[]
for i in range(0,10):
  x=random.uniform(0,1)
  a.append(x)
a[:3]

[0.40683171533081863, 0.23068527263240357, 0.006474539032363724]

In [60]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
x=input("Enter your number: ")
a=int(x)
for i in range(1,a+1):
  if i%3==0:
    print(i)

Enter your number: 25
3
6
9
12
15
18
21
24